<!--Swiper轮播-->
<div class="swiper-container" swipeimg="">
    <div class="swiper-wrapper">
        <div class="swiper-slide" ng-repeat="img in vm.productShop.imgs">
            <img ng-src="{{img.img}}" style="width: 100%">
        </div>
    </div>
</div>
<div class="productDetail">
    <div style="font-size: 20px;font-weight: bold;">{{vm.productShop.shopName}}</div>
    <div style="padding: 10px 0">
        <price>{{vm.productShop.price}}</price>
        <span style="color: #db5252">/{{vm.productShop.unit}}</span>
    </div>
    <div>{{vm.productShop.shopAddress}}</div>
    <div>{{vm.productShop.shopTel}}</div>
</div>

<div>导航</div>
<div style="width: 100%;position: relative" class="clearfix">
    <div class="yeslide"  ng-style="{ transform: 'translateX(' + vm.tabIndex * 100 + '%)' }"></div>
    <div style="float: left;width: 33.3%;text-align: center" ng-click="vm.tabClick(1)">1</div>
    <div style="float: left;width: 33.3%;text-align: center" ng-click="vm.tabClick(2)">2</div>
    <div style="float: left;width: 33.3%;text-align: center" ng-click="vm.tabClick(3)">3</div>
</div>
