<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>git命令介绍</title>
    <script src="../js/lib/jquery/dist/jquery.js"></script>
    <script src="../js/lib/angular/angular.js"></script>
    <link rel="stylesheet" type="text/css" href="../js/lib/bootstrap/dist/css/bootstrap.css">
</head>
<body style="padding: 10px">
<div style="width: 100%">
   <div style="text-align: center"><p style="font-weight: bold">git仓库</p></div>
    比如我们要建一个项目,写好后上传到github仓库,也可以从github上拉取仓库里的项目.
</div>
<div style="width: 100%;border-top: 1px solid#e5e5e5;margin-top: 10px">
    <div>
        <p>1.在github上创建一个新的项目仓库,(--没账号的自行百度...)如下图:</p>
         <img style="width: 50%" src="asstes/imgs/01.png">
    </div>
</div>
</body>
</html>




<div>
    PS:1.git命令的时候,我们可以自定义一些方法:
    <br>
    比如:,git pull --rebase 我们可以定义成 gup
    <br>
    git stash,git pull --rebase,git stash pop 我们可以定义为gsup
    <br>
    1.vi ~/.zshrc 打开配文件,然后 i 键进入编写模式
    <br>
    2.gup='git pull --rebase'
    <br>
     &nbsp;&nbsp; gsup='git stash && gup && git stash pop'
    <br>
    3.定义好后,按esc 退出编辑模式,然后按 :  输入wq  //保存并退出的意思.
</div>