<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>平台-index</title>
    <script src="../js/lib/jquery/dist/jquery.js"></script>
    <script src="../js/lib/angular/angular.js"></script>
    <!--ui-router-->
    <script src="../js/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="../js/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!--resource-->
    <script src="../js/lib/angular-resource/angular-resource.js"></script>
    <!--animate-->
    <script src="../js/lib/angular-animate/angular-animate.js"></script>
    <!--swipe-->
    <script src="../js/lib/Swiper-3.3.1/dist/js/swiper.js"></script>
    <link rel="stylesheet" type="text/css" href="../js/lib/Swiper-3.3.1/dist/css/swiper.css">
    <!--bootstrap-->
    <link rel="stylesheet" type="text/css" href="../js/lib/bootstrap/dist/css/bootstrap.css">


    <script src="yeapp/yeapp.module.js"></script>
    <script src="yeapp/yeapp.router.js"></script>
    <link rel="stylesheet/less" type="text/css" href="index.less">
    <script src="../js/lib/less/dist/less.js" ></script>
    <script src="yeapp/service/resourcePoolye.js"></script>
    <script src="yeapp/pages/platform/platformController.js"></script>
    <script src="yeapp/pages/shop/shopController.js"></script>
    <script src="yeapp/directive/directiveye.js"></script>
</head>
<body>
<div ui-view=""></div>
</body>
</html>