<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable-no;minimum-scale=1.0">
    <title>平台-index</title>
    <script src="../js/lib/jquery/dist/jquery.js"></script>
    <script src="../js/lib/angular/angular.js"></script>
    <!--ui-router-->
    <script src="../js/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="../js/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!--resource-->
    <script src="../js/lib/angular-resource/angular-resource.js"></script>
    <!--animate-->
    <script src="../js/lib/angular-animate/angular-animate.js"></script>
    <!--swipe-->
    <script src="../js/lib/Swiper-3.3.1/dist/js/swiper.js"></script>
    <link rel="stylesheet" type="text/css" href="../js/lib/Swiper-3.3.1/dist/css/swiper.css">
    <!--bootstrap-->
    <link rel="stylesheet" type="text/css" href="../js/lib/bootstrap/dist/css/bootstrap.css">


    <script src="yeapp/yeapp.module.js"></script>
    <script src="yeapp/yeapp.router.js"></script>
    <link rel="stylesheet/less" type="text/css" href="index.less">
    <script src="../js/lib/less/dist/less.js" ></script>
    <!--资源池 http请求-->
    <script src="yeapp/service/resourcePoolye.js"></script>
    <!--弹出层的service方法-->
    <script src="yeapp/service/alertService.js"></script>
    <!--集团平台controller-->
    <script src="yeapp/pages/platform/platformController.js"></script>
    <!--shop controller-->
    <script src="yeapp/pages/shop/shopController.js"></script>
    <!--商品详情controller-->
    <script src="yeapp/pages/productDetail/detailController.js"></script>
    <!--个人中心controller-->
    <script src="yeapp/pages/user/userController.js"></script>
    <!--登录controller-->
    <script src="yeapp/pages/login/loginController.js"></script>
    <!--指令js-->
    <script src="yeapp/directive/directiveye.js"></script>
    <!--二维码-->
    <script src="../js/lib/qrcode.min.js"></script>
</head>
<body>
<div ui-view=""></div>
</body>
</html>