<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable-no;minimum-scale=1.0">
    <title>平台-index</title>
    <script src="../js/lib/jquery/dist/jquery.js"></script>
    <script src="../js/lib/angular/angular.js"></script>
    <!--ui-router-->
    <script src="../js/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="../js/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!--resource-->
    <script src="../js/lib/angular-resource/angular-resource.js"></script>
    <!--animate-->
    <script src="../js/lib/angular-animate/angular-animate.js"></script>
    <!--swipe-->
    <script src="../js/lib/Swiper-3.3.1/dist/js/swiper.js"></script>
    <link rel="stylesheet" type="text/css" href="../js/lib/Swiper-3.3.1/dist/css/swiper.css">
    <!--bootstrap-->
    <link rel="stylesheet" type="text/css" href="../js/lib/bootstrap/dist/css/bootstrap.css">


    <link rel="stylesheet/less" type="text/css" href="/src/css/index.css">
    <script src="../js/lib/less/dist/less.js" ></script>
    <!--二维码-->
    <script src="../js/lib/qrcode.min.js"></script>

<!--    <script src="yeapp/yeapp.module.js"></script>
    <script src="yeapp/yeapp.router.js"></script>
    &lt;!&ndash;资源池 http请求&ndash;&gt;
    <script src="yeapp/service/resourcePoolye.js"></script>
    &lt;!&ndash;弹出层的service方法&ndash;&gt;
    <script src="yeapp/service/alertService.js"></script>
    &lt;!&ndash;集团平台controller&ndash;&gt;
    <script src="yeapp/pages/platform/platformController.js"></script>
    &lt;!&ndash;shop controller&ndash;&gt;
    <script src="yeapp/pages/shop/shopController.js"></script>
    &lt;!&ndash;商品详情controller&ndash;&gt;
    <script src="yeapp/pages/productDetail/detailController.js"></script>
    &lt;!&ndash;个人中心controller&ndash;&gt;
    <script src="yeapp/pages/user/userController.js"></script>
    &lt;!&ndash;登录controller&ndash;&gt;
    <script src="yeapp/pages/login/loginController.js"></script>
    &lt;!&ndash;指令js&ndash;&gt;
    <script src="yeapp/directive/directiveye.js"></script>-->
</head>
<body>
<div ui-view=""></div>
</body>
<script src="../src/js/all.js"></script>
</html>