<div class="bottomnavigation">
    <div style="width: 25%;float: left;text-align: center">
        <div><i class="glyphicon glyphicon-home"></i></div>
        <div>首页</div>
    </div>
    <div style="width: 25%;float: left;text-align: center">
        <div><i class="glyphicon glyphicon-gift"></i></div>
        <div>更多</div>
    </div>
    <div style="width: 25%;float: left;text-align: center">
        <div><i class="glyphicon glyphicon-shopping-cart"></i></div>
        <div>购物车</div>
    </div>
    <div style="width: 25%;float: left;text-align: center">
        <div><i class="glyphicon glyphicon-user"></i></div>
        <div>我的</div>
    </div>
</div>