<!--Swiper轮播-->
<div class="swiper-container" swipeimg>
    <div class="swiper-wrapper">
        <div class="swiper-slide" ng-repeat="img in vm.productLists.imgs">
            <img src="{{img.img}}" style="width: 100%">
        </div>
    </div>
</div>
<div class="shopInf">
    <div class="shopInfName" ng-bind="vm.productLists.shopName"></div>
    <div class="shopAdd" ng-bind="vm.productLists.shopAddress"></div>
    <div class="clear shopIn0">
        <div class="shopInf01 ">
            <span style="margin-right: 5px">
                <i class="glyphicon glyphicon-send"></i>
            </span>
            导航
        </div>
        <a href="tel:{{vm.productLists.shopTel}}">
            <div class="shopInf01">
                <span><i class="glyphicon glyphicon-phone"></i></span>
                联系我们
            </div>
        </a>
        <div class="shopInf01" ui-sref="platform">
            <span><i class="glyphicon glyphicon-retweet"></i></span>
            切换商铺
        </div>
    </div>
    <!--商品列表-->
    <div class="shopInfProduct clear">
        <div class="shopInfProduct01" ng-repeat=" product in vm.productLists.hotProducts" style="position: relative"
             ng-class="{'sale':product.sales,'hot':product.hot}" ng-click="vm.goDetail(product)">
            <img src="{{product.img}}" class="shopInfProductImg">
            <div class="shopInfProductName">{{product.name}}</div>
            <div class="shopInfProductPrice">
                <span>售价:</span>
                <span>{{product.price}}</span>
                <span class="clear shopInfProductCart" ng-click="vm.addCart(product)"><i
                        class="glyphicon glyphicon-shopping-cart"></i></span>
            </div>
        </div>
    </div>

</div>
<popup>
    <div class="popupbody">
        <!--title-->
        <div class="popupbodytitle">
            <span class="popupbodytitle1">{{vm.productCart.name}}</span>
        </div>
        <!--price-->
        <div class="popupbodyprice">
            <span>￥{{vm.productCart.price}}</span>
            <span ng-if="vm.productCart.unit">/{{vm.productCart.unit}}</span>
        </div>
        <!--规格-->
        <div ng-if="vm.productCart.specLists" class="popupbodyspec">
            <div ng-repeat="spec in vm.productCart.specLists">
                <div>{{spec.specName}}</div>
                <div class="popupbodyspec01">
                    <span class="popupbodyspec02" ng-class="{'slectbccolor':specValue.checked}"
                          ng-repeat="specValue in spec.specValues" ng-click="vm.selectSku(spec,specValue)">{{specValue.specVal}}</span>
                </div>

            </div>
        </div>
        <!--购买数量-->
        <div style="width:100%;line-height: 40px">
            <span>库存:{{vm.productCart.stock}}</span>
        </div>
    </div>
    <div style="width: 100%;text-align: center;padding: 0 10px">
        <button ng-click="vm.addCartComfirm()" class="btn btn-danger" style="width: 100%;border-radius: 0">加入购物车
        </button>
    </div>
</popup>
<!--底部导航栏-->
<bottomnav></bottomnav>