
.shopInf {
  padding: 10px;
  .shopInfImg {
    width: 100%;
  }
  .shopInfName {
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #e5e5e5;
  }
  .shopAdd {
    text-align: center;
    padding: 5px;
    font-weight: bold;
  }
  .shopIn0 {
    line-height: 50px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    .shopInf01 {
      width: 33%;
      float: left;
      text-align: center;
    }
  }
  .shopInfProduct {
    width: 100%;
    .shopInfProduct01 {
      width: 50%;
      float: left;
      padding: 10px;
      .shopInfProductImg {
        width: 100%;
        max-height: 81px;
      }
      .shopInfProductName {
        padding: 5px
      }
      .shopInfProductPrice {
        padding: 0 5px 5px 5px;
        color: #db5252;
        .shopInfProductCart {
          float: right;
          color: #007aff
        }
      }
    }
  }
}
//特卖
.sale:after {
  content:"特卖";
  position: absolute;
  width: 20px;
  background-color: #db3280;
  top: 10px;
}
//热销
.hot:after{
  content:"热销";
  position: absolute;
  width: 20px;
  background-color: #db2b12;
  top: 10px;
}